
PORT= 8000 
WHITELIST= ["http://localhost:8000/"]

NODE_ENV= development 

# MONGO Connection
MONGO_URL= mongodb+srv://riajulhasan:rZRpdsxolps4rm60@cluster0.i5prnz0.mongodb.net/nike?retryWrites=true&w=majority&appName= Cluster0

#JWT
JWT_SECRET= ZagEwwOsmuq5rJpRzsYoJ0fc6VQCnoOV 
JWT_EXPIRES_IN= 5m

#ACCESS TOKEN
ACCESS_TOKEN_SECRET= z1aVxRGL9VNd0cTYkDYcKJeaoMpiCmVB
ACCESS_TOKEN_EXPIRES_IN= 1d

#REFRESH TOKEN
REFRESH_TOKEN_SECRET= 3RLaJBRTU9H8NxwTDf1Ednklab6CT73d
REFRESH_TOKEN_EXPIRES_IN= 30d

#MAIL SERVICE
MAIL_SERVICE= sandbox.smtp.mailtrap.io
MAIL_PORT= 2525
MAIL_USER= bacd563230e402
MAIL_PASS= d65cf16625b97d